<div class="mb-4">
    <app-base-details (choices)="details.common=$event"></app-base-details>
    <div class="row">
        <app-level (toParent)="onChanged($event, 'level')"></app-level>
        <app-quality (toParent)="onChanged($event, 'quality')"></app-quality>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>
                <app-yes-no-either-dropdown (selected)="details.corrupted=$event"></app-yes-no-either-dropdown> Corrupted
            </label>
        </div>
    </div>  
    <button type="button" class="btn btn-sm basic-button" (click)="remove()"> Delete</button>
</div>