<div class="mb-4">
    <app-base-details (choices)="details.common=$event"></app-base-details>
    <div class="row">
        <app-field (toParent)="onChanged($event, 'level')" title="Gem Level" [rangeRegEx]="levelRangeRegEx"></app-field>
        <app-field (toParent)="onChanged($event, 'quality')" title="Quality" [rangeRegEx]="qualityRangeRegEx"></app-field>
    </div>
    <div class="row">
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.corrupted=$event" title="Corrupted"></app-yes-no-either-dropdown>
    </div>  
    <button type="button" class="btn btn-sm basic-button" (click)="remove()">Delete</button>
</div>