<div class="mb-4">
    <app-base-details (choices)="details.common=$event"></app-base-details>
    <div class="row">
        <div [ngClass]="{'col-sm': true, 'alert alert-danger': level.invalid && (level.dirty || level.touched)}">
            <label>Level
                <input class="form-control" name="level" #level=ngModel [(ngModel)]="details.level" type="text" [pattern]="levelRangeRegEx" />
            </label>
        </div>
        <div [ngClass]="{'col-sm': true, 'alert alert-danger': quality.invalid && (quality.dirty || quality.touched)}">
                <label>Quality
                    <input class="form-control" name="quality" #quality=ngModel [(ngModel)]="details.quality" type="text" [pattern]="qualityRangeRegEx" />
                </label>
            </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>
                <app-yes-no-either-dropdown (selected)="details.corrupted=$event"></app-yes-no-either-dropdown> Corrupted
            </label>
        </div>
    </div>  
    <button type="button" class="btn btn-sm basic-button" (click)="remove()"> Delete</button>
</div>