<div class="mb-4">
    <app-base-details (choices)="details.common=$event"></app-base-details>
    <label class="long-label">Item Type(s)
        <input class="form-control" [(ngModel)]="details.itemType" type="text" />
    </label>
    <div class="row">
        <app-field (toParent)="onChanged($event, 'ilvl')" title="Item Level" [rangeRegEx]="ilvlRangeRegEx"></app-field>
        <app-field (toParent)="onChanged($event, 'colors')" title="Colors" [rangeRegEx]="colorsRangeRegEx" maxlength="6"></app-field>
    </div>
    <div class="row">
        <app-rarity-dropdown class="col-sm" (selected)="details.rarity=$event" title="Rarity"></app-rarity-dropdown>
    </div>
    <div class="row">
        <app-field (toParent)="onChanged($event, 'width')" title="Width" [rangeRegEx]="widthRangeRegEx"></app-field>
        <app-field (toParent)="onChanged($event, 'height')" title="Height" [rangeRegEx]="heightRangeRegEx"></app-field>
    </div>
    <div class="row">
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.identified=$event" title="Identified"></app-yes-no-either-dropdown>
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.corrupted=$event" title="Corrupted"></app-yes-no-either-dropdown>
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.fractured=$event" title="Fractured"></app-yes-no-either-dropdown>
    </div>
    <div class="row">
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.shaper=$event" title="Shaper"></app-yes-no-either-dropdown>
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.elder=$event" title="Elder"></app-yes-no-either-dropdown>
        <app-yes-no-either-dropdown class="col-sm" (selected)="details.synthesized=$event" title="Synthesized"></app-yes-no-either-dropdown>
    </div>
    <button type="button" class="btn btn-sm basic-button" (click)="remove()">Delete</button>
</div>
