<div>
    <label class="long-label">Description
        <input class="form-control" [(ngModel)]="contents.description" type="text" />
    </label>
    <label>
        <input [(ngModel)]="contents.hide" type="checkbox" />Hide
    </label>
    <div class="row">
        <div [ngClass]="{'col-sm': true, 'alert alert-danger': font.invalid && (font.dirty || font.touched)}">
            <label>Font Size
                <input class="form-control" name="font" #font=ngModel [(ngModel)]="contents.font" type="text" [pattern]="sizeRangeRegEx" placeholder="18-45"/>
            </label>
        </div>
        <div [ngClass]="{'col-sm': true, 'alert alert-danger': border.invalid && (border.dirty || border.touched)}">
            <label>Border Color
                <input class="form-control" name="border" #border=ngModel [(ngModel)]="contents.border" type="text" name="border" [pattern]="colorRangeRegEx" placeholder="R G B A"/>
            </label>
        </div>
        <div [ngClass]="{'col-sm': true, 'alert alert-danger': background.invalid && (background.dirty || background.touched)}">
            <label>Background Color
                <input class="form-control" name="background" #background=ngModel [(ngModel)]="contents.background" type="text" [pattern]="colorRangeRegEx" placeholder="R G B A" />
            </label>
        </div>
    </div>
</div>