<div class="mb-4">
    <app-base-details (choices)="details.common=$event"></app-base-details>
    <div class="row">
        <app-tier (toParent)="onChanged($event, 'tier')"></app-tier>
        <div class="col-sm">
            <label>Rarity
                <app-rarity-dropdown (selected)="details.rarity=$event"></app-rarity-dropdown>
            </label>
        </div>
        <app-quality (toParent)="onChanged($event, 'quality')"></app-quality>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>
                <app-yes-no-either-dropdown (selected)="details.corrupted=$event"></app-yes-no-either-dropdown> Corrupted
            </label>
        </div>
        <div class="col-sm">
            <label>
                <app-yes-no-either-dropdown (selected)="details.shaped=$event"></app-yes-no-either-dropdown> Shaped
            </label>
        </div>
    </div>   
    <button type="button" class="btn btn-sm basic-button" (click)="remove()"> Delete</button>
</div>